// Basic white
$color-white: hsl(0, 0%, 100%); //#FFFFFF

// Primary blue (CTA)
$color-primary-600: hsl(228, 100%, 66%); //#5175FF;
$color-primary-400: hsl(228, 100%, 75%); //#829CFF;

// Neutral / dark gray
$color-neutral-950: hsl(229, 22%, 19%); //#25293A;
$color-neutral-900: hsl(228, 22%, 26%); //#333950;
$color-neutral-600: hsl(227, 13%, 52%); //#747B95;

// State (error)
$color-error-500: hsl(0, 83%, 65%); //#F05B5B;
