@use './base/variables/index' as v;
@use './base/mixins/index' as m;
@use './components/base-header';
@use './components/cutdown';

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: v.$font-family-base;
  //@include m.flex-center;
  //min-height: 100vh;
}
