@use '../base/variables/index' as v;
@use '../base/mixins/index' as m;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 28px;
  padding: 14px 41px;
  @include m.typo-button;

  background-color: v.$color-primary-600;
  color: v.$color-white;

  &:hover {
    background-color: v.$color-primary-400;
  }

  &[type='submit'] {
    width: 100%;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:focus-visible {
    outline: 2px solid v.$color-primary-400;
    outline-offset: 2px;
  }

  &--primary {
    background-color: v.$color-primary-600;
    color: v.$color-white;

    &:hover {
      background-color: v.$color-primary-400;
      color: v.$color-white;
    }
  }

  &--ghost {
    background-color: v.$color-primary-600-15;
    color: v.$color-primary-600;

    &:hover {
      background-color: v.$color-primary-600-25;
      color: v.$color-primary-600;
    }
  }

  &--inverse {
    background-color: v.$color-white;
    color: v.$color-primary-600;

    &:hover {
      background-color: v.$color-white;
      color: v.$color-primary-400;
    }
  }
}
