@use '../base/variables/index' as v;
@use '../base/mixins/index' as m;

.cutdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;

  &__coming-label {
    @include m.typo-h3;
  }

  &__unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: gray;
    width: 72px;
    height: 92px;

    &-number {
      color: v.$color-primary-600;
      @include m.typo-counter;
    }
    &-label {
      color: v.$color-neutral-900;
      @include m.typo-counter-label;
    }
  }

  &__coming-label {
    color: v.$color-neutral-900;
  }
  &__coming-date {
    color: v.$color-primary-600;
  }

  &--dark {
    .cutdown__coming-label {
      color: v.$color-white;
    }
    .cutdown__unit-number {
      color: v.$color-white;
    }
  }
}

@media (min-width: v.$breakpoint-tablet) {
  .cutdown {
    &__unit {
      width: 100px;
      height: 128px;
    }
  }
}

/*
  <div class="cutdown cutdown--dark">
    <p class="cutdown__coming-label">
      Coming <time datetime="2020-11-04" class="cutdown__coming-date">4 nov 2020</time>
    </p>
    <div class="cutdown__unit">
      <div class="cutdown__unit-number">47</div>
      <div class="cutdown__unit-label">days</div>
    </div>
    <div class="cutdown__unit">
      <div class="cutdown__unit-number">07</div>
      <div class="cutdown__unit-label">hours</div>
    </div>
    <div class="cutdown__unit">
      <div class="cutdown__unit-number">56</div>
      <div class="cutdown__unit-label">min</div>
    </div>
    <div class="cutdown__unit">
      <div class="cutdown__unit-number">14</div>
      <div class="cutdown__unit-label">sec</div>
    </div>
  </div>
*/
