@use '../base/variables/index' as v;
@use '../base/mixins/index' as m;

.cutdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;

  &__coming-label {
    color: v.$color-neutral-900;
    @include m.typo-h3;
  }
  &__coming-date {
    color: v.$color-primary-600;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
  }

  &__unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 92px;
    border-radius: 13px;
    background-color: v.$color-primary-600-10;

    &-number {
      color: v.$color-primary-600;
      @include m.typo-counter;
    }
    &-label {
      color: v.$color-neutral-900-50;
      @include m.typo-counter-label;
    }
  }

  &--dark {
    .cutdown__unit {
      background-color: v.$color-neutral-900;
    }

    .cutdown__coming-label {
      color: v.$color-white;
    }

    .cutdown__unit-number {
      color: v.$color-white;
    }
    
    .cutdown__unit-label {
      color: v.$color-white-50;
    }
  }
}

@media (min-width: v.$breakpoint-tablet) {
  .cutdown {
    gap: 8px;

    &__wrapper {
      gap: 16px;
    }

    &__unit {
      width: 100px;
      height: 128px;
    }
  }
}

@media (min-width: v.$breakpoint-desktop) {
  .cutdown {
    align-items: start;
    gap: 0px;
  }
}
